@import './reset';
@import './menus';
@import './variables';
@import './headline';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');


/*<!--=============== GENERAL STYLES  ===============-->*/
h1{
    font-size: 48px;
    margin-bottom: 27px;
    font-weight: 600;
    transform: none;
    text-transform: uppercase;
}
h2{
    color: $principalColor;
}

#scrollDiv {
    height: 25px;
    position: fixed;
    bottom: 0px;
    z-index: 999;
    width: 100%;
    
    justify-content: right;
}
#scrollTop {
    background: #333;
    width: 40px;
    border-radius: 4px 4px 0 0;
    position: absolute;
    right: 1%;
    display: flex;
    justify-content: center;
    color: white;
    pointer-events: auto;
    opacity: .9;
    &:hover{
        background: $menuHover; 
    }
}
.hide{display: none;}
.show{display: flex;}

.hr{
    overflow: hidden;
}

.circleIcon {
    width: 100px;
    height: 100px;
    background: #6a6a6a;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    svg{
        width: 60%;
        height: 60%;
        fill: white;
    }
}




html {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-weight: 300;
    letter-spacing: 0px;
    font-style: normal;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
    height: 100%;
}
#___gatsby, #gatsby-focus-wrapper, .wrapper{
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
}

body {
    height: 100%;
    line-height: 1.5;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
}
.container {
    width: $standard;
    margin: auto;
    padding: 0px 15px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
  
}
.header .logo {
    line-height: 100px;
    max-width: 200px;
    -webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}


.footer {
    background-color: #222;
    padding: 85px 0 67px;
    color: #fff;
}
main{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.mainText{

    flex-direction: column;
    position: relative;
    padding: 90px 15px;
}


$gray:#e7ebee;

.fullBox{
    background-color: $gray;
        border-width: 0px 0px 0px 0px;
    border-color: #eae9e9;
    border-style: solid;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.color1{
    padding: 0px;
    margin: 0px;


    div{
        color: white;
        background-color: #44405a;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    svg{
        fill: #44405a;
        width: 200%;
        height: 180px;
    }
    
    &.invert{
        background-color: #44405a!important;
        svg{
            fill: white;
        }
        
    }
}

.color2{
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    svg{
        fill: white;
        background-color: $gray;
        width: 280%;
        height: 80px;
        //transform: scaleX(-1);
    }
    
 
}


/*<!--=============== MEDIAQUERY BEGINGS  ===============-->*/

/*<!--=============== IOS DEVICES ===============-->*/

@supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */

}

@supports not (-webkit-touch-callout: none) {
    /* CSS for other than iOS devices */

}


/* --------- Desktop  si es amyor que ipad 780px  ------ */
@media only screen and (min-width: $ipad) {
    .container {
        width: $laptop;
    } 
}


/* ----------- laptops si es mas grande que ipad pero heigh ----------- */

@media only screen and (min-width: $ipad) and (max-height: 970px) {

}






/* ----------- iPad in landscape ----------- */

// @media only screen and (max-width: 778px) {
@media only screen and (max-device-width: $ipad) and (orientation: landscape) {
  
}


/* ----------- smaller than 360px ----------- */

@media only screen and (min-device-width: 360px) {

    /*<!--=============== IOS DEVICES ===============-->*/
    @supports (-webkit-touch-callout: none) {
        /* CSS specific to iOS devices */
    
    }
    /*<!--=============== NOT IOS DEVICES ===============-->*/
    @supports not (-webkit-touch-callout: none) {
        /* CSS for other than iOS devices */
      
    }
}

//When keyboard is present hide slideshow
@media screen and (max-width: $ipad) and (max-height: 450px) {
 
}

