@import './variables';

/* Header
-------------------------------------------------------------- */
.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  .logo{
    display: flex;
    img{
      padding: 0px;
      margin: 0px;
    }
  }
}
.openDraw{
  #mainnav-mobi{
    display: flex;
    width: 85vw;
    transform:translateX(20vw);
  }

  .btn-menu span{
    opacity: 0;
  }
  .btn-menu:before{
    transform: rotate(-45deg);
  } 

  .btn-menu:after{
    transform: rotate(45deg);
  }

}

#mainnav-mobi{
  margin: 0 auto;
  width: 0vw;
  transition: width 0.2s, height 0.6s;
  position: absolute;
  background-color: $menuColor;
  z-index: 1000;
  top: 100px;
    ul {
      display: block;
      list-style: none;
      margin: 0;
      padding: 0;
      flex: 1;
      li {
        margin: 0;
        position: relative;
        text-align: left;
        border-top: 1px solid $menuDiv;
   
        cursor: pointer;
        a {
          text-decoration: none;
          height: 50px;
          line-height: 50px;
          padding: 0 50px;
          color: #fff;
          text-transform: uppercase;
          &:hover{
           color: $menuHover;  
          }
      }
    }
  }

  .submenu{
    li {
      padding-left: 20px;
    }
      a {
        text-decoration: none;
        height: 50px;
        line-height: 50px;
        padding: 0 50px;
        color: #c5c5c5;
        text-transform: capitalize;
    }
  }

}

/* navigation */
.nav-wrap {
  text-align: right;
  flex: 1;
  height: 100px;
}

#mainnav{
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      position: relative;
      display: inline-block; 
      padding: 0 6px; 
      a {
          position: relative;
          display: block;
          font-family: "Poppins", sans-serif;
        text-transform: uppercase;
        line-height: 100px;
          color: #222;
          text-decoration: none; 
          font-size: 14px;
          margin: 0 15px;
          font-weight: 600;
          -webkit-transition: all 0.3s ease-in-out;
           -moz-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
           -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
      } 
   }
   li:last-child {
    padding-right: 0;
  }
  
  li:last-child a {
    margin-right: 0;
  }


 }

}//mainnav


#mainnav .menu .has-sub:hover:before,
#mainnav > ul > li > a:hover,
#mainnav > ul > li.home > a {
    color: $menuColor;
}

#mainnav > ul > li > a:hover {
	color: $menuColor;
}

#mainnav > ul > li > a:hover:after,
#mainnav > ul > li.home > a:after {
	width: 100%;
}



.header .logo {
    line-height: 100px;
    -webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}



/* submenu */
#mainnav ul.submenu {
   position: absolute;
   left: 0;
   top: 150%;
   width: 300px;
   text-align: left;
   background-color: #222222;
   z-index: 9999;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   	  filter: alpha(opacity=0);
     opacity: 0;  
   visibility: hidden;
  	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}

/* Button menu mobile */
.btn-menu {
  position: absolute;
  right: 20px;
  top: 0;
  font: 20px/50px 'FontAwesome';
  text-align: center;
  cursor: pointer;
  width: 70px;
  height: 44px;


	background: transparent;
	margin: 22px 0;
	float: left;
	margin-right: 15px;
	-webkit-transition: all ease .238s;
	-moz-transition: all ease .238s;
  transition: all ease .238s;
  
    
  span {
    position: absolute;
    width: 12px;
    height: 2px;
    left: 0;
    top: 50%;
    overflow: hidden;
    text-indent: 200%;
  }

  &:before {
    -webkit-transform: translate3d(0, -7px, 0);
            transform: translate3d(0, -7px, 0);
  }

  &:after {
    width: 17px;
    -webkit-transform: translate3d(0, 7px, 0);
              transform: translate3d(0, 7px, 0);
  }


  .active span {
    opacity: 0;
  }

  .active:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
              transform: rotate3d(0, 0, 1, 45deg);
  }

  .active:after {
    width: 24px;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
              transform: rotate3d(0, 0, 1, -45deg);
  }


}

.btn-menu:before,
.btn-menu:after, 
.btn-menu span {
	background-color: $menuColor;
    -webkit-transition: all ease .238s;
       -moz-transition: all ease .238s;
            transition: all ease .238s;
}

.btn-menu:before,
.btn-menu:after {
	content: '';
	position: absolute;
	height: 2px;
	width: 24px;
	left: 0;
	top: 50%;
	-webkit-transform-origin: 50% 50%;
	    -ms-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;
}




.btn-submenu:before {
   content: "\f107";
   color: #fff;
}

.btn-submenu.active:before {
   content: "\f106"
}
#mainnav {

          ul.right-sub-menu {
            left: auto;
            right: 0;
        }

        ul li:hover > ul.submenu {
          top: 100%;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
              filter: alpha(opacity=100);
              opacity: 1;
          visibility: visible;
        }

        ul li ul li {
          margin-left: 0;
        }

        ul.submenu li ul {
          position: absolute;
          left: 300px;
          top: 0 !important;
        }
        ul.submenu > li {
          border-top: 1px solid $menuDiv;
        

          a {
            display: block;
            color: #fff;
            text-decoration: none;
            padding: 0 0 0 20px;
            line-height: 45px;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
              -ms-transition: all 0.3s ease-in-out;
              -o-transition: all 0.3s ease-in-out;
                  transition: all 0.3s ease-in-out;
        }
        }
        ul.submenu > li.sub-parent:after {
          content: "\f105";
            font-family: "FontAwesome";
            font-size: 14px;
            position: absolute;
            right: 25px;
            top: 11px;
            color: #999999;
          -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
              -ms-transition: all 0.3s ease-in-out;
              -o-transition: all 0.3s ease-in-out;
                  transition: all 0.3s ease-in-out;
        }
        .submenu{
          display: flex;
          flex-direction: column;
        }

}

#mainnav ul.submenu > li > a:hover {
	color: $menuHover;
}

#mainnav ul.submenu > li.sub-parent:hover::after {
	right: 18px;
}

#mainnav, #mainnav-mobi{
  display: none;
}



/*<!--=============== MEDIAQUERY BEGINGS  ===============-->*/
/* --------- Desktop  si es mayor que $standard ------ */
@media only screen and (min-width: $standard) {


  .nav-wrap {
    flex: initial;
    height: initial;
  }

  .btn-menu{
    display: none;
  }
  

  #mainnav{
    display: flex;
  }

 

  
}



/* ----------- smaller than 360px ----------- */

@media only screen and (min-device-width: $smallPhone) {

  /*<!--=============== IOS DEVICES ===============-->*/
  @supports (-webkit-touch-callout: none) {
      /* CSS specific to iOS devices */
  
  }
  /*<!--=============== NOT IOS DEVICES ===============-->*/
  @supports not (-webkit-touch-callout: none) {
      /* CSS for other than iOS devices */
    
  }
}